<div>
<h1>Ваши диалоги с пользователями</h1>
<% if dialogs != nil %>
    <ul>
    <% dialogs.each do |dialog| %>
        <li class="dialog_item">
        <a href="/dialog/<%= dialog['get_dialogs'] %>">Диалог №<%= dialog['get_dialogs'] %></a>
        </li>
    <% end %>
    <ul>
<% end %>
</div>