<h1>Диалог</h1>
<% if messages != nil %>
    <% messages.each do |message| %>
        <div class="message">
            <% name = message['sender_login']%>
            <% message_text = message['message_text']%>
            <% message_timestamp = message['message_timestamp']%>
            <p class="Author">
            <%= name %>
            <span>
            <p class="Timestamp"> <%= message_timestamp %></p>
            </span>
            </p>
            <p class="Text"><%= message_text %></p>
        </div>
    <% end %>
<% end %>

<form action="/dialog/<%= messages[0]['dialog_id'] %>" method="post">
    <input type="text" name="text">
    <input type="submit" value="Отправить сообщение">
</form>