<link rel="stylesheet" href="style.css">

<section>
<h1>Главная страница</h1>
<p>Вы вошли в систему, как: <em><%= session[:login] %></em></p>
<div class="link_nav">
<a href="/profile/<%= session[:login] %>">Ваш профиль</a>
<a href="/dialogs">Ваши диалоги</a>
<a href="/logout">Выйти из аккаунта</a>
</div>
</section>
<section>
<h1>Анкеты пользователей</h1>
<%= error %>
<div class="profiles">
<% profiles.each do |profile| %>
<div class="profile" style="flex: 0 1 24%">
<p class="profile_name"><%= profile[:name] %><span class="profile_age">, <%= profile[:age] %></span></p>
<% if profile[:occupations] != nil%>
<p class="occupations">
    <% profile[:occupations].each do |occupation| %>
    <%= occupation['get_occupations'].strip! %> ,
    <% end %>
</p>
<% end %>
<p class="profile_city"><%= profile[:city] %><span class="profile_country">, <%= profile[:country] %></span></p>
<a href="/start_dialog/<%= profile[:login] %>" ">Начать диалог</a>
<a href="/profile/<%= profile[:login] %>">Посетить профиль</a>
</div>
<% end %>
</div>
</section>
