<link rel="stylesheet" href="style.css">

<div class="centered">
<h1>Вход в систему</h1>
<%= message %>
<form action="login" method="POST">
<label for="login">Логин:
<input type="text" name="login">
</label>
<label for="password">Пароль:
<input type="password" name="password">
</label>
<input type="submit" value="Войти">
<a href="/register">Зарегистрироваться</a>
</form>
</div>