<link rel="stylesheet" href="styles.css">

<div class="centered">
<h1>Создайте новую цель</h1>
<%= error %>
<form action="/new_goal" method="post">
    <input type="text" name="goal">
    <input type="submit" value="Создать цель">
</form>
</div>