<link rel="stylesheet" href="styles.css">

<div class="centered">
<h1>Добавьте новое занятие</h1>
<%= error %>
<form action="/new_profile_occupation" method="post">
    <input type="text" name="occupation">
    <input type="submit" value="Добавить">
</form>
</div>