<link rel="stylesheet" href="style.css">

<div class="centered">
<h1>Зарегистрироваться в системе</h1>
<%= message %>
<form action="register" method="POST">
<label for="login">Логин:
<input type="text" name="login">
</label>
<label for="password">Пароль:
<input type="password" name="password">
</label>
<input type="submit" value="Зарегистрироваться">
<a href="/login">Войти в систему</a>
</form>
</div>