/* .centered {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

body {
    font-family: sans-serif;
}

.profiles {
    display:flex;
    justify-content:space-between;
    flex-wrap: wrap;
}

.profile {
    background-color: rgb(76, 19, 99);
    padding: .7em;
    color: white;
}

h1 {
    color: #808080;
    font-weight: 700;
    letter-spacing: .05rem;
    text-align: center;
}

form {
    display: flex;
    flex-wrap: wrap;
    align-items: stretch;
}

form > label {
    flex: 3 1 30ch;
    margin: .1rem;
}

form > label > input {
    padding: 10px 0 10px 0;
    margin: 1px;
}

a {
    margin-top: .5rem;
    color: #808080;
    text-decoration: none;
    letter-spacing: .05rem;
} */